{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "__API_HOST__": false,
    "__API_ENDPOINT__": false,
    "describe": false,
    "it": false,
    "expect": false
  },
  "rules": {
    "comma-dangle": 0,
    "no-console": 0,
    "id-length": 0,
    "react/prop-types": 0,
    "max-len": 0,
    "arrow-body-style": 0,
    "no-prototype-builtins": 0
  }
}
