.post-item {
  background: #fcfcfc;
  padding: 10px 15px;
  border: 1px solid #f2f2f2;
  margin-bottom: 20px;

  p {
    font-size: 14px;
    line-height: 1.5em;
  }

  .byline {
    font-size: 11px;
    text-align: right;
  }
}
